.g-div-allWall {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  max-width: 800px;
}

.g-div-wall {
  border: 0px solid black;
  background-color: rgba(178, 247, 236, 0.55);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  padding-bottom: 2rem;
  padding-top: 1rem;
  margin-bottom: 2rem;
}

.g-div-wall-posts {
  border: 1px solid black;
  background-color: rgba(178, 247, 236, 0.55);
  border-radius: 10px 10px 0 0;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.g-div-wall-posts-header {
  display: flex;
  justify-content: space-between;
  padding: 0.2rem;
  border-bottom: 1px solid black;
  border-radius: 10px 10px 0 0;
  background-color: rgba(250, 104, 6, 0.8);
}

.g-div-wall-posts-header-last {
  display: flex;
  font-weight: 600;
  margin-left: 0.3rem;
}

.g-div-wall-posts-text {
  margin: 0.6rem 0.5rem 1rem 0.2rem;
}

.g-div-wall-posts-img {
  display: flex;
}

img {
  width: 100%;
  object-fit: contain;
}

h3 {
  text-align: center;
  font-weight: 600;
  font-style: italic;
}

.g-div-wall-comments {
  border: 1px solid black;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-top: 0.5rem;
  background-color: rgba(178, 247, 236, 0.55);
}

.g-div-wall-comments-header {
  display: flex;
  justify-content: space-between;
  padding: 0.2rem;
  border-bottom: 1px solid black;
  background-color: rgba(250, 104, 6, 0.8);
  border-radius: 10px 10px 0 0;
}

.g-div-wall-comments-header-last {
  display: flex;
  font-weight: 600;
  margin-left: 0.3rem;
}

.g-div-wall-comments-text {
  margin: 0.6rem 0.5rem 1rem 0.2rem;
}

.g-div-wall-posts-header-date {
  display: flex;
  align-items: center;
  font-style: italic;
  font-size: 0.9rem;
  margin-right: 0.3rem;
}

.g-div-wall-comments-header-date {
  display: flex;
  align-items: center;
  font-style: italic;
  font-size: 0.9rem;
  margin-right: 0.3rem;
}

.g-div-wall-comments-edit {
  display: flex;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.g-div-wall-buttons {
  display: flex;
  justify-content: left;
}
.g-button-delete-post,
.g-button-modify-post,
.g-button-delete-comment,
.g-button-modify-comment {
  margin: 5px 5px 0 3px;
  font-size: 12px;
  padding: 4px;
  max-width: 80px;
}

.g-div-wall-titre {
  text-align: center;
}
