.g-div-footer {
  background-color: rgba(0, 0, 0, 0.87);
  color: rgba(236, 122, 46, 0.82);
  margin-top: 8rem;
  padding: 0.8rem 0 0.5rem 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 12px;
  flex-wrap: wrap;
}

.g-div-footer-eachdiv {
  display: flex;
  width: 30%;
  padding: 5px 10px 10px 10px;
  justify-content: center;
}

.g-logo-footer {
  display: flex;
  width: 100%;
  max-width: 250px;
  min-width: 130px;
}

a {
  color: inherit;
  text-decoration: none;
}
